
Runner Source/Library/

Runner Source/unity\.gitignore

Runner Source/Temp/

Runner4Ever/Temp/

Runner4Ever/Library/metadata/

*.meta
*.log

APK/

Runner4Ever/Library/ShaderCache/

Runner4Ever/Library/il2cpp_cache/

Runner4Ever/Library/webgl_cache/linkresult_asm_3CE8C428F3C13F3CC635248AD211325F/

*.1f1 (2860b30f0b54)
